<article class="about-us-information"> 
    <div class="box-image @@photoPosition">
        <img class="photo-member" src="@@url" alt="@@alt">
    </div>
    <div class="box-information @@textPosition">
        <h3 class="box-information--name">@@memberName</h3>
        <p class="box-information--description">@@memberDescription</p>
        <div class="font-awesome">
            <a target="_blank" href="@@memberTwiter"><i class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="@@memberLinkedin" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
            <a target="_blank" href="@@memberGit" class="dot"><i class="fa-brands fa-github-alt"></i></a>
            <a target="_blank" href="@@memberMail" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
        </div>
    </div>
</article> 


