<section class="about-us" id="about-us"> 
    <h2 class="about-us-title"> Quiénes somos</h2>
   
        <div class="aboutus-article-container">
            <include src="./about-us-information.html"
            url="./assets/images/foto-perro-alejandra.jpg"
            alt="Foto Alejandra"
            memberName="Alejandra Ameliach"
            memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
            memberGit="https://github.com/Ameliach9"
            memberLinkedin="https://www.linkedin.com/in/alejandraameliach"
            memberTwitter=""
            memberMail="mailto:ale.ameliach@gmail.com"
            photoPosition="box-left"
            textPosition="box-information-left"></include>
            
            <include src="./about-us-information.html"
            url="./assets/images/foto-perro-laura.jpg"
            alt="Foto Laura"
            memberName="Laura González "
            memberDescription="Graduada en Bellas artes, decidió dar un vuelco a su carrera y apostar por estudiar programación web. Trabajadora y perseverante en cualquier reto que se proponga."
            memberGit="https://github.com/lauragonzalezcalvo"
            memberLinkedin=""
            memberTwitter=""
            memberMail="mailto:laura24gc@gmail.com"
            photoPosition="box-right"
            textPosition="box-information-right"></include>

            <include src="./about-us-information.html"
            url="./assets/images/foto-perro-elena.jpg"
            alt="Foto Elena"
            memberName="Mª Elena Arocena"
            memberDescription="Maestra apasionada del conocimiento y de los retos. Después de años sumergida en el mundo de la educación he decidido cambiar las aulas por la pantalla y dar el salto definitivo al Desarrollo Web. Fascinada por este nuevo muevo mundo que ya es toda una pasión."
            memberGit="https://github.com/marocena26"
            memberLinkedin="https://www.linkedin.com/in/maria-elena-arocena-lopez-"
            memberTwitter=""
            memberMail="mailto:mariaelena.arocena@gmail.com"
            photoPosition="box-left"
            textPosition="box-information-left"></include>
            
            <include src="./about-us-information.html"
            url="./assets/images/foto-perro-sara.jpg"
            alt="Foto Sara"
            memberName="Sara Meixoeiro"
            memberDescription="Técnica de sistemas informáticos y redes, y montadora audiovisual. Comencé en el mundo de la programación por mi amor a la animación y los videojuegos. Buscando seguir desarrodo mis conocimientos para hacer diseño y programación de estos."
            memberGit="https://github.com/Sameidu"
            memberLinkedin="https://www.linkedin.com/in/sara-meixoeiro-b845ba251"
            memberTwitter=""
            memberMail="mailto:sameidudu@gmail.com"
            photoPosition="box-right"
            textPosition="box-information-right"></include>

            <include src="./about-us-information.html"
            url="./assets/images/foto-virginia.jpg"
            alt="Foto Virginia"
            memberName="Virginia Álvarez"
            memberDescription="Mujer deportista, amante de mi tierra natal y madre de dos hijos maravillosos. Embarque mi aventura en este mundo deseando poder labrarme un futuro con las nuevas tecnologías"
            memberGit="https://github.com/Virginia-Alvarez"
            memberLinkedin="https://www.linkedin.com/in/virginia-%C3%A1lvarez-arag%C3%B3n-659392252"
            memberTwitter=""
            memberMail="mailto:virginiaalvarez.ar@gmail.com"
            photoPosition="box-left"
            textPosition="box-information-left"></include>
        </div>
   
  </section> 