<article class="article-us"> 
    <div class="box-image @@photoPosition">
        <img class="foto-member" src="@@url" alt="@@alt">
    </div>
    <div class="box-information @@textPosition">
        <h3 class="nombre">@@memberName</h3>
        <p class="description">@@memberDescription</p>
        <div class="font-awesome">
            <a href="@@memberTwiter"><i class="fa-brands fa-twitter"></i></a>
            <a href="@@memberLinkedin" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="@@memberGit" class="dot"><i class="fa-brands fa-github-alt"></i></a>
            <a href="@@memberMail" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
        </div>
    </div>
</article> 


