<!-- ALEJANDRA -->

<article class="article-us-alejandra"> 
    <img class="foto-alejandra" src="./assets/images/foto-perro-alejandra.jpg" alt="foto-alejandra">
    <h3 class="nombre">Alejandra Ameliach</h3>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia.</p>
    <div class="font-awesome">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href="www.linkedin.com/in/alejandraameliach" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="" class="dot"><i class="fa-brands fa-github-alt"></i></a>
        <a href="" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </div>
</article> 

<!-- LAURA -->

<article class="article-us-laura"> 
    <img class="foto-laura" src="./assets/images/foto-perro-laura.jpg" alt="foto-laura">
    <h3 class="nombre">Laura González</h3>
    <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate aut ipsum vero vitae saepe architecto cumque hic facilis voluptatem, corporis autem magni ad. Fuga natus in quod minima dolore provident.</p>
    <div class="font-awesome">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/lauragonzalezcalvo" class="dot"><i class="fa-brands fa-github-alt"></i></a>
        <a href="" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </div>
</article> 

<!-- ELENA -->

<article class="article-us-elena"> 
    <img class="foto-elena" src="./assets/images/foto-perro-elena.jpg" alt="foto-elena">
    <h3 class="nombre"> Mª Elena Arocena</h3>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus minima dicta ipsam distinctio ea necessitatibus, illum aliquam beatae nesciunt voluptatem, impedit qui vero hic, officiis velit? Voluptatum fugiat delectus officiis!</p>
    <div class="font-awesome">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href="www.linkedin.com/in/maria-elena-arocena-lopez-" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/marocena26" class="dot"><i class="fa-brands fa-github-alt"></i></a>
         <a href="" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </div>
</article> 

<!-- SARA -->

<article class="article-us-sara"> 
    <img class="foto-sara" src="./assets/images/foto-perro-sara.jpg" alt="foto-sara">
    <h3 class="nombre">Sara Meixoeiro</h3>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus rerum culpa reprehenderit velit modi voluptatum adipisci, laudantium assumenda rem consequatur, sapiente voluptatibus, dolore molestias vitae! Exercitationem praesentium magni beatae.</p>
    <div class="font-awesome">
        <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="" class="dot"><i class="fa-brands fa-github-alt"></i></a>
        <a href="" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </div>
</article> 

<!-- VIRNGINIA -->

<article class="article-us-virginia"> 
    <img class="foto-virginia" src="./assets/images/foto-perro-virginia.jpg" alt="foto-virginia">
    <h3 class="nombre">Virginia Álvarez</h3>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis non exercitationem porro unde suscipit ab iste officia, hic a doloribus ullam eum magnam obcaecati. Similique repellendus deserunt minima molestiae?</p>
    <div class="font-awesome">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/virginia-%C3%A1lvarez-arag%C3%B3n-659392252/" class="dot"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Virginia-Alvarez" class="dot"><i class="fa-brands fa-github-alt"></i></a>
        <a href="mailto:virginiaalvarez.ar@gmail.com" class="dot"><i class="fa-sharp fa-solid fa-envelope"></i></a>
    </div>
</article> 