<section class="team" id="team"> 
    <article class="article-base-equipo">
        <h2 class="equip">Equipo</h2>
        <p class="content-equip">Equipo polifacético unido con un mismo objetivo: convertirnos en todas unas profesionales de la Programación Web. Teniendo como estandarte la filosofía agile, promovemos la comunicación, el trabajo cooperativo y el feedback constructivo entre las integrantes del grupo. Conocedoras de nuestras debilidades trabajamos a diario para alcanzar nuestra meta y estar cada día más cerca de convertirnos en programadoras front-end. 
        </p>
    </article> 
</section>     
<section class="position-square">
    <p class="square"></p>
</section>
<section class="team1" id="team"> 
    <article class="article-base-1">
        <h3 class="fort">Fortalezas</h3>
        <p class="content-equip-1">Valientes y entusiastas. Todo el equipo ha demostrado un gran compromiso y perseverancia dedicandose en cuerpo y alma a mejorar nuestras habilidades front-end. La comunicación ha sido la clave en este proceso de aprendizaje. Así mismo, el bagaje profesional de cada una de nosotras ha jugado un papel importante en la resolución de los retos que se han presentado en el camino.</p>
    </article> 
    <article class="article-base-2">
        <h3 class="deb">Debilidades</h3>
        <p class="content-equip-2">De caminos muy distintos, cada una de nosotras ha tenido que enfrentarse al reto diario de aprender a vivir y a manejar el código, lo que en ocasiones ha restulado ser una piedra en el camino. Pero como hemos comprobado, de nada se aprende más que de la rotura de código, gracias a la cooperación y a nuestra tenacidad  hemos podido sacar provecho de esta circunstancia.</p>
    </article> 
</section> 
