<section class="team" id="team"> 
    <article class="article-base-equipo">
        <h2 class="equip">Equipo</h2>
        <p class="content-equip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis non exercitationem porro unde suscipit ab iste officia, hic a doloribus ullam eum magnam obcaecati. Similique repellendus deserunt minima molestiae?</p>
    </article> 
</section>     
<section class="position-square">
    <p class="square"></p>
</section>
<section class="team1" id="team"> 
    <article class="article-base">
        <h3 class="fort">Fortalezas</h3>
        <p class="content-equip-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis non exercitationem porro unde suscipit ab iste officia, hic a doloribus ullam eum magnam obcaecati. Similique repellendus deserunt minima molestiae?</p>
    </article> 
    <article class="article-base">
        <h3 class="deb">Debilidades</h3>
        <p class="content-equip-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis non exercitationem porro unde suscipit ab iste officia, hic a doloribus ullam eum magnam obcaecati. Similique repellendus deserunt minima molestiae?</p>
    </article> 
</section> 
