<header class="header-base"> 
    <section class="section-base">
        <h1 class="nombre-grupo">The code's gambit</h1>
        <nav class="nav">
            <ul class="navegador">
                <li><a href="./index.html#team" class="links">Equipo</a></li>
                <li><a href="./index.html#about-us" class="links">Quienes somos</a></li>
                <li><a href="./contact.html" class="links">Contacto</a></li>
            </ul>
        </nav>
    </section>
    <section class="team-base">
        <p class="lema">De pocas cosas hemos aprendido tanto como de la rotura de código.</p> 
    </section>
</header> 