<header class="header"> 
    <section class="header-section">
        <a href="./index.html" class="header-nav--items">
            <h1 class="header-title">The code's Gambit</h1> 
        </a>
        <nav> 
            <ul class="header-nav">
                <li><a href="./index.html#team" class="header-nav--items">Equipo</a> </li>
                <li><a href="./index.html#about-us" class="header-nav--items">Quienes somos</a> </li>
                <li><a href="./contact.html" class="header-nav--items">Contacto</a></li>
            </ul>
        </nav>
    </section>
    <section class="header-text">
      <p class="header-text--description">De pocas cosas hemos aprendido tanto como de la rotura de código.</p> 
    </section>
</header> 