<section class="form-section">
    <form class="contact-form" action=""> <!-- url de la base de datos para el formulario -->
        <!--NOMBRE-->
        <label for="name" class="label-form">Nombre completo <span class="asterix">*</span></label>
        <input id="name"  class="input-form" type="text" placeholder="Escriba su nombre" required>
        <div class="secondary-form-info">
            <!--EMAIL-->
            <label for="email" class="label-form label-mail">Email <span class="asterix">*</span></label>
            <input id="email" class="input-form input-mail" type="email" placeholder="ejemplo@mail.com" required>
            <!--TELEFONO-->
            <label for="telephone" class="label-form label-phone">Teléfono</label>
            <input id="telephone" class="input-form input-phone" type="tel" placeholder="Ej: 123456789">
        </div>
        <!--MENSAJE-->
        <label for="message" class="label-form">Mensaje <span class="asterix">*</span></label>
        <textarea name="message" id="message" class="input-form" cols="30" rows="5" placeholder="¿Qué necesita?" required></textarea>
        <!-- BOTON -->
        <div class="form-submit">
            <button class="enviar">Enviar</button>
        </div>
    </form>
</section>