<section class="about-us" id="about-us"> 
  <h2 class="quienes-somos"> Quiénes somos</h2>
  
  <include src="./article.html" 
  url="./assets/images/foto-perro-alejandra.jpg"
  alt="Foto Alejandra"
  memberName="Alejandra Ameliach"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/Ameliach9"
  memberLinkedin="www.linkedin.com/in/alejandraameliach"
  memberTwitter=""
  memberMail="mailto:ale.ameliach@gmail.com"></include>

<include src="./article.html" 
  url="./assets/images/foto-laura.jpg"
  alt="Foto Laura"
  memberName="Laura González"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/lauragonzalezcalvo"
  memberLinkedin=""
  memberTwitter=""
  memberMail="mailto:laura24gc@gmail.com"></include>

<include src="./article.html" 
  url="./assets/images/foto-perro-elena.jpg"
  alt="Foto Elena"
  memberName="Mª Elena Arocena"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/marocena26"
  memberLinkedin="www.linkedin.com/in/maria-elena-arocena-lopez-"
  memberTwitter=""
  memberMail="mailto:mariaelena.arocena@gmail.com"></include>

<include src="./article.html" 
  url="./assets/images/foto-perro-sara.jpg"
  alt="Foto Sara"
  memberName="Sara Meixoeiro"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/Sameidu"
  memberLinkedin="https://www.linkedin.com/in/sara-meixoeiro-b845ba251/"
  memberTwitter=""
  memberMail="mailto:sameidudu@gmail.com"></include>

<include src="./article.html" 
  url="./assets/images/foto-perro-virginia.jpg"
  alt="Foto Virginia"
  memberName="Virginia Álvarez"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/Virginia-Alvarez"
  memberLinkedin="https://www.linkedin.com/in/virginia-%C3%A1lvarez-arag%C3%B3n-659392252"
  memberTwitter=""
  memberMail="mailto:virginiaalvarez.ar@gmail.com"></include>

</section> 