<section class="about-us" id="about-us"> 
    <h2 class="quienes-somos"> Quiénes somos</h2>
    
    <include src="./article.html" 
  url="./assets/images/foto-perro-alejandra.jpg"
  nameClass="alejandra"
  memberName="Alejandra Ameliach"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit=""
  memberLinkedin="www.linkedin.com/in/alejandraameliach"
  memberTwitter=""
  memberMail=""></include>
<include src="./article.html" 
  url=""
  nameClass="laura"
  memberName="Laura González"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/lauragonzalezcalvo"
  memberLinkedin=""
  memberTwitter=""
  memberMail=""></include>
<include src="./article.html" 
  url=""
  nameClass="elena"
  memberName="Mª Elena Arocena"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/marocena26"
  memberLinkedin="www.linkedin.com/in/maria-elena-arocena-lopez-"
  memberTwitter=""
  memberMail=""></include>
<include src="./article.html" 
  url=""
  nameClass="sara"
  memberName="Sara Meixoeiro"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit=""
  memberLinkedin=""
  memberTwitter="https://www.twitter.com"
  memberMail=""></include>
<include src="./article.html" 
  url=""
  nameClass="virginia"
  memberName="Virginia Álvarez"
  memberDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusantium quam cum dolores nostrum minus impedit quas, libero et fugit magni voluptatibus voluptatum voluptas omnis corporis dolore possimus pariatur mollitia."
  memberGit="https://github.com/Virginia-Alvarez"
  memberLinkedin="https://www.linkedin.com/in/virginia-%C3%A1lvarez-arag%C3%B3n-659392252"
  memberTwitter=""
  memberMail="mailto:virginiaalvarez.ar@gmail.com"></include>
</section> 