// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;



    $blue-green:#099d8d;
    $aqua: #14d9c4;
    $white: white;
    $font-family-sans: 'Open Sans', sans-serif;
    $font-family-semibold: 'Open Sans', sans-serif;
    $font-family-rubik: 'Rubik', sans-serif;
    $gray: #54585a;
    $cool-gray: #b8b8b9;
    $color-black:black;
    $gun-metal: #54585a;
    $black-8: rgba(0, 0, 0, 0.08)
