$blue-green:#099d8d;
$aqua: #14d9c4;
$white: white;
$gray: #54585a;
$cool-gray: #b8b8b9;
$color-black:black;
$gun-metal: #54585a;
$black-8: rgba(0, 0, 0, 0.08);


$font-family-sans: 'Open Sans', sans-serif;
$font-family-semibold: 'Open Sans', sans-serif;
$font-family-rubik: 'Rubik', sans-serif;
