

.aboutus-article-container {
    display: flex;
    flex-direction: column;
    @media all and (min-width:768px){
        gap:40px
    }
    @media all and (min-width: 1200px) {
        width: 90%;
        margin:auto;
    }
}


.about-us-information {
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    @media screen and (min-width: 1200px){
       gap: 30px;
    }  
} 

.box-information {
    @media all and (min-width: 768px) {
        height: 205px;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch; 
    }    
    @media all and (min-width: 1200px) {
        height: 278px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start; 
        
    } 
    
    &--name {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:15px;
        font-family: $font-family-sans;
        font-size:20px;
        line-height: 45px;
        @media all and (min-width: 768px) {
            padding-top: 0px;
    
       }
        @media all and (min-width: 1200px) {
            display: block;
            padding-right: 30px;
       } 
    }

    &--description {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        text-align: center;
        font-family: $font-family-sans;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
    }

}

.box-information-left {
    @media all and (min-width: 768px) {
        justify-content: flex-start;
        p {
            text-align: left;
        }   
     }
     @media all and(min-width: 1200px) {
        p {
            padding-right: 9rem;
        }    
     } 
}

.box-information-right {
    @media all and (min-width: 768px) {
        justify-content: flex-end;
        p {
            text-align: right;
        } 
     }
     @media all and(min-width: 1200px) {
        p {
            padding-left: 9rem;
        }    
     }
        
}


.box-left {
    @media screen and (min-width: 768px) {
        order: -1
    }
}

.box-right {
    @media screen and (min-width: 768px) {
        order: 1
    }
}


.photo-member {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid $black-8; 

    @media screen and (min-width: 768px){
        width: 205px;
        height: 205px;
        border-radius: 5px;
    }

    @media screen and (min-width: 1200px){
        width: 278px;
        height: 278px;
        border-radius: 8px;
    }
}




.font-awesome {
    margin:auto;
    width: 124px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 30px;  /* añado pero no viene medida. a ojo!  */
    @media all and (min-width: 768px) {
        display: block;
        margin: 0px;
        padding-top: 15px;
        text-align: left;
       
       }
     @media all and (min-width: 1200px) {
        display: block;
        margin: 0px;
        padding-top: 15px;
        text-align: left;
       } 
}
.font-awesome a {
    color: $blue-green;
}

.dot:before {
    content: " · ";
}

a.dot {
    text-decoration: none;
}

.position-left {
    flex-direction: row-reverse;
}