.about-us{
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-family: $font-family-sans;
}

.aboutus-article-container {
    display: flex;
    flex-direction: column;
    @media all and (min-width:768px){
        gap:40px
    }
    @media all and (min-width: 1200px) {
        width: 90%;
        margin:auto;
    }
}

.quienes-somos{
    display: flex;
    justify-content: center;
    font-family: $font-family-rubik;
    font-size: 24px;
    line-height: 45px;
    color: $blue-green;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
       padding-top: 45px;
       padding-bottom: 41px;
     }  
    @media all and (min-width: 1200px) {
    
    } 
}

.article-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center; 
    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        padding-left: 45px;
        padding-right: 45px;
     }  
}  

.box-information {
    @media all and (min-width: 768px) {
        height: 205px;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch; 
     }    
     @media all and (min-width: 1200px) {
        height: 278px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start; 
     } 
}

.box-information-left {
    @media all and (min-width: 768px) {
        justify-content: flex-start;
        
     }
     @media all and(min-width: 1200px) {
        p {
            text-align: left;
            padding-right: 12rem;
        }    
     } 
}

.box-information-right {
    @media all and (min-width: 768px) {
        justify-content: flex-end;
     }
     @media all and(min-width: 1200px) {
        p {
            text-align: right;
            padding-left: 12rem;
        }    
     }
        
}


.box-left {
    @media screen and (min-width: 768px) {
        order: -1
    }
}

.box-right {
    @media screen and (min-width: 768px) {
        order: 1
    }
}


.foto-member{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid $black-8; 
    @media all and (min-width: 768px) {
        box-sizing: border-box;
        width: 205px;
        height: 205px;

      }
    @media all and (min-width: 1200px) {
        box-sizing: border-box;
        width: 278px;
        height: 278px;
      } 
}


.nombre{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:15px;
    font-family: $font-family-sans;
    font-size:20px;
    line-height: 45px;
    color: black;
    @media all and (min-width: 768px) {
        padding-top: 0px;
        padding-left: 31px;
        padding-right: 30px;
 
       }
     @media all and (min-width: 1200px) {
        padding-left: 45px;
        display: block;
       } 
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    font-family: $font-family-sans;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    padding-left: 15px;
    padding-right: 15px;
    @media all and (min-width: 768px) {
       text-align: left;
       padding-left: 31px;
      }
    @media all and (min-width: 1200px) {
        padding-left: 45px;
        display: block;
      } 
}

.font-awesome {
    margin:auto;
    width: 124px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 30px;  /* añado pero no viene medida. a ojo!  */
    @media all and (min-width: 768px) {
        display: block;
        margin: 0px;
        padding-left: 31px;
        padding-top: 15px;
        text-align: left;
       
       }
     @media all and (min-width: 1200px) {
        display: block;
        margin: 0px;
        padding-left: 45px;
        padding-top: 15px;
        text-align: left;
       } 
}
.font-awesome a {
    color: $blue-green;
}

.dot:before {
    content: " · ";
}

a.dot {
    text-decoration: none;
}

.position-left {
    flex-direction: row-reverse;
}