.about-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 15px 45px 15px;

    &-title {
        font-family: $font-family-rubik;
        font-size: rem(24);
        line-height: rem(45);
        color: $blue-green;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 768px){
        padding: 45px 45px 63px 45px;
    }

    @media screen and (min-width: 1200px){
        padding: 45px 92px 60px 92px;
    }
}

