.contact{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    width: 60%;
    margin: auto;
  }
  @media all and (min-width: 1200px) {
    width: 50%;
  }

  &-title{
    display: flex;
    justify-content: center;
    font-family: $font-family-rubik;
    font-size: rem(24);
    line-height: rem(45);
    color: $blue-green;
    padding-top: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;

    @media all and (min-width: 1200px) {
      padding-top: 45px;
    }
  }

  &-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family-sans;
    font-size: rem(16);
    color: $gun-metal;
    text-align: center; 
    line-height: rem(30);
    letter-spacing: normal;

    &--required{
      margin-top: 30px;
      font-family: $font-family-sans;
      font-size: rem(12);
      color: $gun-metal;
      margin-bottom: 60px;
    }
    
    &--asterix{
      color: $aqua;
    }
  }

}

.label-form{
  font-family: $font-family-sans;
  color: $gun-metal;
  font-size: rem(14);
  margin-bottom: 10px;
}

.input-form{
  font-family: $font-family-sans;
  color: $cool-gray;
  font-size: rem(14);
  height: 45px;   
  border: solid 1px $cool-gray;
  margin-bottom: 10px;
}

.secondary-form-info label{
  @media all and (min-width: 1200px) {
    order: -1;
  }
}

.secondary-form-info input{
  @media all and (min-width: 1200px) {
    order: 1;
  }
}

.label-mail {
  @media all and (min-width: 1200px) {
    flex: 3 1 60%;
  }
}

.label-phone{
  @media all and (min-width: 1200px) {
    flex: 1 1 30%;
  }
}

.input-mail {
  @media all and (min-width: 1200px) {
    flex: 3 1 60%;
    margin-right: 15px;
  }
}

.input-phone {
  @media all and (min-width: 1200px) {
    flex: 1 1 30%;
  }
}

.secondary-form-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-submit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 60px;
  padding-top: 20px;

  @media all and (min-width: 768px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  @media all and (min-width: 1200px) {
    padding-bottom: 120px;
    padding-top: 20px;
  }
}

.enviar{
  font-family: $font-family-sans;
  color: $white;
  background-color: $blue-green;
  border-radius: 5px;
  height: 45px;
  @media all and (min-width: 768px) {
    width: 206px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
  }
}

.form-section {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#message {
  height: auto;
}

