.footer {
  text-align: center;
  padding-bottom: 45px;

  &-separator {
      margin-bottom: 30px;
  }

  &-copy {
      color: $cool-gray;
      font-family: $font-family-rubik;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 20px;
  }

  &-nav {
      padding-bottom: 30px;

      &--items{
          text-decoration: none;
          color: $gray;
          font-family: $font-family-rubik;
          font-size: 15px; 
          line-height: 20px;
          text-transform: uppercase;
      }
  }

  &-logo {
      width: 115.9px;
      height: 45px;

  }
}


