// .page__footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100vw;
//     padding: 1rem;
   
//   }
  .footer-nav--items{
    text-decoration: none;
    color: $gray;
    font-family: $font-family-rubik;
    font-size: 15px;    
  }
  .footer {
    text-align: center;
  }
  .footer-separator{
    margin-bottom: 30px;
  }
  .footer-copy {
    padding: 15px;
   color: $cool-gray;
   font-family: $font-family-rubik;
   font-size: 14px;
  }
  .footer-nav {
    margin-bottom: 30px;  
    text-transform: uppercase; 
    text-decoration: none;
  }
  .footer-logo {
    width: 115.9px;
    height: 45px;
    margin-bottom: 45px;

  }
  // media queries
  

    @media screen and (min-width: 768px) {
    .footer-nav {
        width: 220px;
        height: 90px;
        position:absolute;
        right:45px;
        text-align:right;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

        .footer-logo{
        display:flex;
        justify-content: left;
        padding-left:45px;
        

    
        
    } 
    .footer-copy{
            display:flex;
            justify-content: left;
            padding-left: 45px;
            text-decoration: none;
            width:50vw;

        
        
    } 
}

@media screen and (min-width: 1200px){
    .footer-nav {
        width: 324px;
        height: 90px;
        position:absolute;
        right:0px;
        text-align:right;
        text-decoration: none;
        flex-direction: column;
        justify-content: space-around;
    }

        .footer-logo{
        display:flex;
        justify-content: left;
        padding: 15px 0px 51px 138px;
        
        
        
    } 
    .footer-copy{
            display:flex;
            justify-content: left;
            padding: 30px 0px 0px 138px;
            text-decoration: none;
            width:50vw;
        }
        
    

}

  

  
  



