.header-base {
  height: 421px;
  background-image: url(../images/hero-img.jpg);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-contact {
  height: 421px;
  background-image: url(../images/contact-img.jpg);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-base { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
}

.nombre-grupo {
  background-color: $blue-green;
  display: flex;
  justify-content: center;
  color: $white;
  font-family: $font-family-rubik;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 65px;
  padding-right: 65px;
  opacity: 95%;
  text-transform: uppercase;
}

.navegador{
  background-color: $aqua;
  display: flex;  
  justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 16px;
  opacity: 90%;
}

.navegador .links {
  text-decoration: none;
  color: $white;
  font-family: $font-family-rubik;
  font-size: 15px;
  text-transform: uppercase;
}

.team-base {
  transform: translateY(50%);
  height: 80px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.lema {
  font-size: 18px;
  color: $color-black;
  font-family: $font-family-semibold; 
  line-height: 25px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
    
  .section-base {
      background-color: $blue-green;
      height: 60px;
  }
  .nombre-grupo{
      line-height: 30px; 
      display: block;
      padding-left: 45px;
  }
  .navegador {
      background-color: $blue-green;
      padding-top: 14px;
      padding-bottom: 16px;
      line-height: 30px;
  }
  .team-base {
    padding-left: 46x;
    width: 441px;
    transform: none;   
    // transform: none;
    // position: absolute;   
    // padding: 46px;
  }
.lema {
    opacity: 80%;
    padding: 15px 30px 15px 30px;
  }
}

