.header-base {
  height: 421px;
  background-image: url(../images/foto-prueba-hero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-base { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
}

.nombre-grupo {
  background-color: var(--blue-green);
  display: flex;
  justify-content: center;
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 65px;
  padding-right: 65px;
  opacity: 95%;
  text-transform: uppercase;
}

.navegador{
  background-color: var(--aqua);
  display: flex;  
  justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 16px;
  opacity: 90%;
}

.navegador .links {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: 15px;
  text-transform: uppercase;
}

.team-base {
  transform: translateY(50%);
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lema {
  background-color: var(--white);
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-family-semibold); 
  line-height: 25px;
}

@media screen and (min-width: 768px) {
    
  .section-base {
      background-color: var(--blue-green);
      height: 60px;
  }
  .nombre-grupo{
      line-height: 30px; 
      display: block;
      padding-left: 45px;
  }
  .navegador {
      background-color: var(--blue-green);
      padding-top: 14px;
      padding-bottom: 16px;
      line-height: 30px;
  }
  .team-base {
    padding-left: 46x;
    width: 441px;
    transform: none;   
    // transform: none;
    // position: absolute;   
    // padding: 46px;
  }
.lema {
    opacity: 80%;
    padding: 15px 30px 15px 30px;
  }
}

