.header {
  height: 421px;
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  

  &-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 900;
    width: 100%;
    
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $blue-green;
      height: 60px;
    }
    
  }

  &-title {
    background-color: $blue-green;
    color: $white;
    font-family: $font-family-rubik;
    font-size: rem(16);
    line-height: rem(30);
    opacity: 95%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (min-width: 768px){
      display: block;
      padding-left: 45px;
    }
    @media all and (min-width: 1200px) {
      padding-left: 142px;
    }
  }

  &-nav {
    background-color: $aqua;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;

    @media screen and (min-width: 768px){
      background-color: $blue-green;
      padding-top: 16px;
      padding-bottom: 14px;
      padding-right: 45px;
    }
    @media all and (min-width: 1200px) {
      padding-right: 138px;
    }
  
    &--items {
    text-decoration: none;
    color: $white;
    font-family: $font-family-rubik;
    font-size: rem(15);
    line-height: rem(30);
    text-transform: uppercase;
    }
  }

  &-text {
    background-color: $white;
    padding: 14px 15px 16px 15px;
    margin-left: 15px;
    margin-right: 15px;
    transform: translateY(50%);

    @media screen and (min-width: 768px){
      margin-left: 45px;
      padding: 15px 30px 15px 30px;
      width: 441px;
      transform: none;  
      opacity: 80%;
    }

    @media all and (min-width: 1200px) {
      margin-left: 168px;

    }

    &--description{
    color: $color-black;
    font-family: $font-family-semibold; 
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(25);
    text-align: left;

    @media all and (min-width: 1200px) {
      font-size: rem(24);
      line-height: rem(30);
    }

    }
  }
  
  @media all and (min-width: 1200px){
    height: 550px;
    background-position: 50% 0%;
  }
}

.header-contact {
  height: 421px;
  background-image: url(../images/contact-img.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    background-position: 50% -20%;
  }


  @media all and (min-width: 1200px){
    height: 550px;
    background-position: 50% 0%;
  }
}