/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    box-sizing: border-box;
    --blue-green:#099d8d;
    --aqua: #14d9c4;
    --white: white;
    --font-family-sans: 'Open Sans', sans-serif;
    --font-family-semibold: 'Open Sans', sans-serif;
    --font-family-rubik: 'Rubik', sans-serif;
    --gray: #54585a;
    --cool-gray: #b8b8b9;
    --color-black:black;
    --gun-metal: #54585a;
    --black-8: rgba(0, 0, 0, 0.08)
}

/*Empieza el header*/

.header-base {
    height: 421px;
    background-image: url(../images/foto-prueba-hero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-base { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 990;
}

.nombre-grupo {
    background-color: var(--blue-green);
    display: flex;
    justify-content: center;
    color: var(--white);
    font-family: var(--font-family-rubik);
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    opacity: 95%;
    text-transform: uppercase;
}

.navegador{
    background-color: var(--aqua);
    display: flex;  
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 16px;
    opacity: 90%;
}

.navegador .links {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family-rubik);
    font-size: 15px;
    text-transform: uppercase;
}

.team-base {
    transform: translateY(50%);
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lema {
    background-color: var(--white);
    font-size: 18px;
    color: var(--color-black);
    font-family: var(--font-family-semibold); 
    line-height: 25px;
}

/*termina el header*/
/*EQUIPO*/

.team {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.article-base-equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;  
    padding-bottom: 14.2px;
}

.equip {
    display: flex;
    justify-content: center;
    color: var(--aqua);
    font-family: var(--font-family-rubik);
    font-size: 24px;
    line-height: 45px;
    padding-top: 76px;
    text-transform: uppercase;
}

.content-equip{
    font-size: 16px;
    color: var(--gray);
    font-family: var(--font-family-sans);
    line-height: 24px;
    padding-left: 15px;
    padding-bottom: 25px;
    padding-right: 15px;
}

.position-square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
}

.square {
    background-color: var(--white);
    width: 30px;
    height: 30px;
    /*line-height: 50%;*/
    transform: rotate(45deg);
}

.article-base-1  {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center; 
    background-color: rgba(184, 184, 185, 0.2);   
}

.content-equip-1 {
    font-size: 16px;
    color: var(--gray);
    font-family: var(--font-family-sans);
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.fort{
    display: flex;
    justify-content: center;
    color: var(--blue-green);
    font-family: var(--font-family-rubik);
    font-size: 22px;
    padding-top: 45px;
    padding-bottom: 8px;
}

.article-base-2  {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center; 
    background-color: rgba(184, 184, 185, 0.2);
}

.content-equip-2 {
    font-size: 16px;
    color: var(--gray);
    font-family: var(--font-family-sans);
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
}

.deb {
    display: flex;
    justify-content: center;
    color: var(--blue-green);
    font-family: var(--font-family-rubik);
    font-size: 22px;
    padding-bottom: 8px; 
}

/* TERMINA EL EQUIPO*/

/*SOBRE NOSOTRAS*/
.about-us{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    font-family: var(--font-family-sans);
}

.quienes-somos{
    display: flex;
    justify-content: center;
    font-family: var(--font-family-rubik);
    font-size: 24px;
    line-height: 45px;
    color: var(--blue-green);
    text-transform: uppercase;
}

.article-us-alejandra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}   

.foto-alejandra {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid var(--black-8);  
}

.article-us-laura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}  

.foto-laura {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid var(--black-8);  
}

.article-us-elena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}  

.foto-elena {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid var(--black-8);  
}

.article-us-sara{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}  

.foto-sara {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid var(--black-8);  
}

.article-us-virginia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}  

.foto-virginia {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: 5px solid var(--black-8);  
}

.nombre{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:15px;
    font-family: var(--font-family-sans);
    font-size:20px;
    line-height: 45px;
    color: black;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    font-family: var(--font-family-sans);
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    padding-left: 15px;
    padding-right: 15px;
}

.font-awesome {
    margin:auto;
    width: 124px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 30px;  /* añado pero no viene medida. a ojo!  */
}
.font-awesome a {
    color: var(--blue-green);
}
.dot:before {
    content: " · ";
}

a.dot {
    text-decoration: none;
}

/* FOOTER */

.footer .links {
    text-decoration: none;
    color: var(--gray);
    font-family: var(--font-family-rubik);
    font-size: 15px;   
}
.footer {
    text-align: center;
}
.separator {
    margin-bottom: 30px;
}
.copyright {
   margin-bottom: 20px; 
   color: var(--cool-gray);
   font-family: var(--font-family-rubik);
   font-size: 14px;
}
.footer-nav {
    margin-bottom: 30px;  
    text-transform: uppercase; 
}
.footer-logo {
    width: 115.9px;
    height: 45px;
    margin-bottom: 45px;
}

/* CONTACTO */

.contact{
    padding: 15px;
}

.titulo-contact{
    display: flex;
    justify-content: center;
    font-family: var(--font-family-rubik);
    font-size: 24px;
    line-height: 45px;
    color: var(--blue-green);
    padding-top: 30px;
    text-transform: uppercase;
}

.text-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: var(--font-family-sans);
    font-size: 16px;
    color: var(--gun-metal);
    align-content: space-around;
}

.obligatorio{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: var(--font-family-sans);
    font-size: 12px;
    color: var(--gun-metal);
    padding-bottom: 58px;
//     padding-top: 40px;
 }

.asterix{
    color: var(--aqua);
}

.label-form{
    font-family: var(--font-family-sans);
    color: var(--gun-metal);
    font-size: 14px;
}

.input-form{
    font-family: var(--font-family-sans);
    color: var(--cool-gray);
    font-size: 14px;
}

.enviar{
    font-family: var(--font-family-sans);
    color: var(--white);
    background-color: var(--blue-green);
    border-radius: 5px;
}


/*MEDIAQUERIS*/

@media screen and (min-width: 768px) {
    
    .section-base {
        background-color: var(--blue-green);
        height: 60px;
    }
    
    
    .nombre-grupo{
        line-height: 30px; 
        display: block;
        padding-left: 45px;
    }

    .navegador {
        background-color: var(--blue-green);
        padding-top: 14px;
        padding-bottom: 16px;
        line-height: 30px;
    }
    
    .team-base {
        padding-left: 46x;
        width: 441px;
        transform: none;   
    }

    .lema {
        opacity: 80%;
        padding: 15px 30px 15px 30px;
    }
    .article-base-equipo{
        padding: 45px 45px 30px 45px;

    }
    .team1{
        display:flex;
        flex-direction: row;
    }

    .deb{
        padding-top: 45px;
    }

    .equip {
        padding-top: 0px;
        padding-bottom: 15px; 
    }

    .content-equip {
        height: 168px;
        width: 678px;
        padding: 0px;
    }
}

